.header {
  --header-height-1: 112px;
  --header-height-2: 117px;
  --menu-height: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* height: var(--header-height-1); */
  height: auto;
  width: clamp(var(--clamp-width));
  margin: 0 auto;
  background-image: linear-gradient(
    to bottom right,
    var(--color-dark-accent-400),
    var(--color-dark-accent-700)
  );
}

/* ///// HEADLINE ///// */
.header-main-logo {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.header-main-logo svg {
  height: calc(3 * 1.8rem);
  width: auto;
}
.header-main-logo h1 {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

/* ///// NAV MENU ///// */
.nav-menu {
  display: flex;
  align-self: flex-end;
  height: var(--menu-height);
}
.nav-link-level-1 {
  height: 100%;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: var(--color-light-shade);
  transition: all 300ms;
}
.nav-link-level-1:hover,
.nav-link-level-1:active,
.nav-link-level-1-active {
  background-color: var(--color-dark-shade-300);
  cursor: pointer;
}

/* ///// DROPDOWN ///// */
.dropdown-container {
  position: relative;
  width: 5rem;
}
.dropdown-menu {
  display: block;
  list-style: none;
  width: max-content;
}
.nav-link-level-2 a {
  z-index: 1;
  padding: 0.5rem;
  display: block;
  text-decoration: none;
  color: var(--color-dark-shade);
  background-color: var(--color-light-shade);
  transition: all 300ms;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-link-level-2 a:hover,
.nav-link-level-2 a:active {
  background-color: var(--color-light-accent);
}
.hidden {
  display: none;
}

/* ///// MEDIA QUERIES ///// */
@media screen and (width<900px) {
  .header {
    flex-direction: column;
  }
}
@media screen and (width<700px) {
  .header {
    width: clamp(var(--clamp-width-small));
  }
}
