.header {
  --header-height-1: 112px;
  --header-height-2: 172px;
  --menu-height: 59px;
  display: flex;
  height: auto;
  width: clamp(var(--clamp-width));
  margin: 0 auto;
  background-image: linear-gradient(
    to bottom right,
    var(--color-dark-accent-400),
    var(--color-dark-accent-700)
  );
}

/* ///// LOGO ///// */
.header-main-logo {
  display: flex;
  flex-direction: row;
  color: var(--color-dark-shade);
  text-decoration: none;
  padding: 0.5rem;
}
.header-main-logo svg {
  height: calc(3 * 1.8rem);
  width: auto;
}
.header-main-logo h1 {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
/* ///// NAV BAR ///// */
.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

/* ///// MEDIA QUERIES ///// */
@media screen and (width<900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (width<700px) {
  .header {
    width: clamp(var(--clamp-width-small));
  }
}
