/* ///// HOME PAGE ///// */

/* ///// HERO ///// */
.hero {
  padding: 4rem 2rem;
  background-image: url(../public/images/Hero-desaturated.jpg);
  background-position: center;
  /* background-size: 160%; */
  background-size: cover;
  background-repeat: no-repeat;
}
.hero h2 {
  margin: 0 6rem 0 0;
  width: fit-content;
  font-size: 3rem;
  color: var(--color-main-brand-700);
  border-top: 6px solid var(--color-main-brand);
}
.hero p {
  margin: 0 0 0 6rem;
  width: fit-content;
  text-align: right;
  font-weight: bold;
  font-size: x-large;
  color: var(--color-main-brand-600);
  border-bottom: 6px solid var(--color-main-brand);
}

/* ///// SECTIONS ///// */
.section-home {
  margin: 2rem 0;
}
.section-heading {
  border-bottom: 4px solid var(--color-main-brand);
}
.section-home:nth-child(2) {
  margin-left: 2rem;
  margin-right: 10rem;
}
.section-home:nth-child(3) {
  margin-left: 5rem;
  margin-right: 5rem;
}
.section-home:nth-child(4) {
  margin-left: 10rem;
  margin-right: 2rem;
}
.section-home:last-child {
  margin-bottom: 0;
  padding-bottom: 2rem;
}
